<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_studyapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ImportTxtToSQLite"
        tools:targetApi="31">
        <activity
            android:name=".actSelecQuestoes"
            android:exported="false"
            android:label="@string/title_activity_act_selec_questoes"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ImportTxtToSQLite.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/titulo_chatBot"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ImportTxtToSQLite.NoActionBar" />
        <activity
            android:name=".actDisciplinas"
            android:exported="false"
            android:label="@string/title_activity_act_disciplinas"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ImportTxtToSQLite.NoActionBar" />
        <activity
            android:name=".actConteudos"
            android:exported="false"
            android:label="actConteudos"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ImportTxtToSQLite.NoActionBar" />
        <activity
            android:name=".actAnos"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>